BPM_PM/jupyter/jupyterNotebooks/images/.ipynb_checkpoints/bettingMarket-checkpoint.png
BPM_PM/jupyter/jupyterNotebooks/images/.ipynb_checkpoints/box_plot_ref_needed-checkpoint.png
BPM_PM/jupyter/jupyterNotebooks/images/.ipynb_checkpoints/fna-benign1-checkpoint.png
BPM_PM/jupyter/jupyterNotebooks/images/.ipynb_checkpoints/P1-checkpoint.pdf
BPM_PM/jupyter/jupyterNotebooks/images/Boris Johnson reminds Merkel to mute during G7 Zoom chat _ ITV News (1080p_25fps_H264-128kbit_AAC).mp4
BPM_PM/jupyter/jupyterNotebooks/bank.xlsx
BPM_PM/jupyter/jupyterNotebooks/covid_lastday.csv
BPM_PM/jupyter/jupyterNotebooks/covid_lastday_b.csv
BPM_PM/jupyter/jupyterNotebooks/covid_more_than_10k.csv
BPM_PM/jupyter/jupyterNotebooks/covid_more_than_25k.csv
BPM_PM/jupyter/jupyterNotebooks/jupyterNotebooks.code-workspace
BPM_PM/.DS_Store
BPM_PM/jupyter/.DS_Store
.DS_Store
PDAI/jupyter/jupyterNotebooks/assignments/__pycache__/auto_testing.cpython-39.pyc
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/M2_01NumPy_Assignments-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/auto_testing-checkpoint.py
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/06ModulesExceptionsAndOOP_Assignments-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/05Functions_TheCaPythone_Assignments-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/05Functions_Assignments-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/04ControlAndRepetitionStatements_Assignments-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/03Collections_Assignments-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/02DataTypesAndOperations_Live-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/02DataTypesAndOperations_Assignments-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/01ConsoleIOandVariables_Assignments-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/images/.ipynb_checkpoints/bettingMarket-checkpoint.png
PDAI/jupyter/jupyterNotebooks/images/.ipynb_checkpoints/box_plot_ref_needed-checkpoint.png
PDAI/jupyter/jupyterNotebooks/images/.ipynb_checkpoints/fna-benign1-checkpoint.png
PDAI/jupyter/jupyterNotebooks/images/.ipynb_checkpoints/P1-checkpoint.pdf
PDAI/jupyter/jupyterNotebooks/assignments/__pycache__/auto_testing.cpython-314.pyc
PDAI/jupyter/jupyterNotebooks/images/~$meme_students.pptx
PDAI/jupyter/jupyterNotebooks/csv/covid19/.ipynb_checkpoints/dpc-covid19-ita-andamento-nazionale-checkpoint.csv
PDAI/jupyter/jupyterNotebooks/csv/covid19/.ipynb_checkpoints/dpc-covid19-ita-andamento-nazionale_16_01_2023-checkpoint.csv
PDAI/jupyter/jupyterNotebooks/sirR0_0.25.cdat
PDAI/jupyter/jupyterNotebooks/sirR0_0.50.cdat
PDAI/jupyter/jupyterNotebooks/sirR0_1.00.cdat
PDAI/jupyter/jupyterNotebooks/sirR0_2.00.cdat
PDAI/jupyter/jupyterNotebooks/otherpath/__pycache__/test_import_py_nested.cpython-39.pyc
PDAI/jupyter/jupyterNotebooks/otherpath/__pycache__/test_import_py_nested.cpython-314.pyc
PDAI/jupyter/jupyterNotebooks/__pycache__/test_import_py.cpython-314.pyc
PDAI/jupyter/jupyterNotebooks/covid_lastday.csv
PDAI/jupyter/jupyterNotebooks/covid_lastday_b.csv
PDAI/jupyter/jupyterNotebooks/covid_more_than_10k.csv
PDAI/jupyter/jupyterNotebooks/covid_more_than_25k.csv
PDAI/jupyter/jupyterNotebooks/_M2_01NumPy_Pandas.ipynb
PDAI/jupyter/test_ws/test.ipynb
PDAI/jupyter/jupyterNotebooks/test.ipynb
PDAI/jupyter/jupyterNotebooks/__pycache__/pdai_utils.cpython-314.pyc
PDAI/jupyter/jupyterNotebooks/plot_tree_validation.pdf
PDAI/jupyter/jupyterNotebooks/plot_tree.pdf
PDAI/jupyter/jupyterNotebooks/data/scaler
PDAI/jupyter/jupyterNotebooks/data/best_trained_model
ICT/jupyter/jupyterNotebooks/01ConsoleIOandVariablesandDataTypesAndOperations copy.ipynb
ICT/jupyter/jupyterNotebooks/images/~$meme_students.pptx
