BPM_PM/jupyter/jupyterNotebooks/images/.ipynb_checkpoints/bettingMarket-checkpoint.png
BPM_PM/jupyter/jupyterNotebooks/images/.ipynb_checkpoints/box_plot_ref_needed-checkpoint.png
BPM_PM/jupyter/jupyterNotebooks/images/.ipynb_checkpoints/fna-benign1-checkpoint.png
BPM_PM/jupyter/jupyterNotebooks/images/.ipynb_checkpoints/P1-checkpoint.pdf
BPM_PM/jupyter/jupyterNotebooks/images/Boris Johnson reminds Merkel to mute during G7 Zoom chat _ ITV News (1080p_25fps_H264-128kbit_AAC).mp4
BPM_PM/jupyter/jupyterNotebooks/bank.xlsx
BPM_PM/jupyter/jupyterNotebooks/covid_lastday.csv
BPM_PM/jupyter/jupyterNotebooks/covid_lastday_b.csv
BPM_PM/jupyter/jupyterNotebooks/covid_more_than_10k.csv
BPM_PM/jupyter/jupyterNotebooks/covid_more_than_25k.csv
BPM_PM/jupyter/jupyterNotebooks/jupyterNotebooks.code-workspace
BPM_PM/.DS_Store
BPM_PM/jupyter/.DS_Store
.DS_Store
